# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# The macOS Finder’s icon arrangement
.DS_Store

# ./tmp dir (if ever needed)
tmp/

# Ignore XC UI stuff
sealdir.xcodeproj/project.xcworkspace
sealdir.xcodeproj/xcuserdata/

# Ignore Visual Studio UI, caches, and user-specific stuff
.vs/
**.vcxproj.user

# Ignore "Build" directory
Build/

# VS Code Settings (except tasks), as these are often environment-dependent
.vscode/**
!.vscode/tasks.json
